parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc tag @var with type callable\(\)\: mixed is not subtype of native type Closure\(\)\: mixed\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Command/CreateRecordsTableCommand.php

		-
			message: '#^Property Doctrine\\ORM\\Mapping\\ClassMetadata\<object\>\:\:\$generatorType \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Command/CreateRecordsTableCommand.php

		-
			message: '#^Property Doctrine\\ORM\\Mapping\\ClassMetadata\<object\>\:\:\$generatorType \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 2
			path: src/Command/CreateTableCommand.php

		-
			message: '#^PHPDoc tag @param for parameter \$queryMetricsProvider with type \(callable\)\|null is not subtype of native type Closure\|null\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/DataCollector/PerformanceDataCollector.php

		-
			message: '#^PHPDoc type for property Nowo\\PerformanceBundle\\DataCollector\\PerformanceDataCollector\:\:\$queryMetricsProvider with type \(callable\)\|null is not subtype of native type Closure\|null\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/DataCollector/PerformanceDataCollector.php

		-
			message: '#^Property Nowo\\PerformanceBundle\\DataCollector\\PerformanceDataCollector\:\:\$enabled \(bool\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/DataCollector/PerformanceDataCollector.php

		-
			message: '#^Property Symfony\\Component\\HttpKernel\\DataCollector\\DataCollector\:\:\$data \(array\|Symfony\\Component\\VarDumper\\Cloner\\Data\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: src/DataCollector/PerformanceDataCollector.php

		-
			message: '#^Parameter \#3 \$defaultIndexMethod of class Symfony\\Component\\DependencyInjection\\Argument\\TaggedIteratorArgument constructor expects string\|null, false given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/Compiler/NotificationChannelsPass.php

		-
			message: '#^Parameter \#4 \$needsIndexes of class Symfony\\Component\\DependencyInjection\\Argument\\TaggedIteratorArgument constructor expects bool, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/Compiler/NotificationChannelsPass.php

		-
			message: '#^Parameter \#5 \$defaultPriorityMethod of class Symfony\\Component\\DependencyInjection\\Argument\\TaggedIteratorArgument constructor expects string\|null, true given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/Compiler/NotificationChannelsPass.php

		-
			message: '#^Call to function class_exists\(\) with ''Symfony\\\\Component\\\\Mailer\\\\MailerInterface'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Service/DependencyChecker.php

		-
			message: '#^Call to function class_exists\(\) with ''Symfony\\\\Contracts\\\\HttpClient\\\\HttpClientInterface'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Service/DependencyChecker.php

		-
			message: '#^Parameter \#1 \$x of method Nowo\\PerformanceBundle\\Service\\PerformanceAnalysisService\:\:calculateCorrelation\(\) expects array\<float\>, list\<int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/PerformanceAnalysisService.php

		-
			message: '#^Parameter \#2 \$y of method Nowo\\PerformanceBundle\\Service\\PerformanceAnalysisService\:\:calculateCorrelation\(\) expects array\<float\>, list\<int\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/Service/PerformanceAnalysisService.php
