# FrankenPHP: HTTP on port 80, runtime worker (canonical for Nowo demos)
{
	skip_install_trust
}

:80 {
	root * /app/public
	encode zstd br gzip
	handle_errors 5xx {
		respond "{err.status_code} {err.status_text}" {err.status_code}
	}
	php_server {
		worker /app/public/index.php 2
	}
}
