controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

# Import Performance Bundle routes
nowo_performance:
    resource: '@NowoPerformanceBundle/Resources/config/routes.yaml'
